body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title{
    font-size: 1.75em;
    font-weight: bold;
    margin-bottom: 1em;
}

body .wrapper{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

#downloadType{
    width: 70px;
    border: 1px solid black;
    height: 30px;
}

.filter-wrapper{
    position: relative;
    margin-top: 50px;
    margin-bottom: -10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30px;
    justify-content: space-between;
}

.filter-wrapper-inner{
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: right;
    gap:30px;
}


#search-bar{
    position: relative;
    bottom: 0px;
    min-width:600px;
    height: 30px;
    box-sizing: border-box;
}

.download-button{
    background-color: #5cb85c;
    color:#ffffff;
    height: 30px;
    width: 100px;
    font-weight: bold;
    font-size: 1rem;
    border: 1px solid black;
    cursor: pointer;
    text-align: center;
    padding: 0px 10px;
}

.preview-button{
    background-color: #b26;
    color:#ffffff;
    height: 30px;
    width: 100px;
    font-weight: bold;
    font-size: 1rem;
    border: 1px solid black;
    cursor: pointer;
    text-align: center;
    padding: 0px 10px;
}

.download-button:hover{
    background-color: #4cae4c;
}

.preview-button:hover{
    background-color: #b27 ;
}

.showcase {
    position: sticky;
    top: 0;
    margin-bottom: -100vh;
    width: 100vw;
    height: 100vh;
    background-image: url(../images/sprinklr.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.2;
    z-index: -1;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 1200px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #107EFF;
    color: #ffffff;
    text-align: left;
    cursor: pointer;
    font-size: 1rem;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table thead tr td , .styled-table tbody tr td{
  max-width: 500px;
  word-break: break-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}


.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #107EFF;
}
