*{
    box-sizing: border-box;
}

.filters h2{
    text-align: center;
    font-size: 1.5rem;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body .wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

body .filters {
    box-sizing: border-box;
    margin-top: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-flow: left;
    height: 200px;
    margin-bottom: 30px;
    border: 1px solid black;
    padding: 10px;
}

body .filters *{
    margin: 0, .5rem;
    height: 40px;
   
}

body .filters label{
    font-weight: bold;
    font-size: 1.2em;
}

body .filters label #search-bar{
    width:100%;
    margin: 20px 0px 0px 0px;
    box-sizing: border-box;
}

.filters div{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap:30px;
    padding: 0;
    margin: 20px 0px;
}

.filters div label select{
    width:150px
}
.filters label select {
    margin: 0px 0px 0px 20px;
}

option{
    font-size: 1rem;
}

.download-button{
    background-color: #5cb85c;
    color:#ffffff;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    padding: 10px 5px;
}

.showcase {
    position: sticky;
    top: 0;
    margin-bottom: -100vh;
    width: 100vw;
    height: 100vh;
    background-image: url(../images/sprinklr.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.2;
    z-index: -1;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #107EFF;
    color: #ffffff;
    text-align: left;
    cursor: pointer;
    font-size: 0.6rem;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table thead tr td , .styled-table tbody tr td{
  max-width: 500px;
  word-break: break-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}


.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #107EFF;
}

.graph-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 20px;
    border: 1px solid black;
    padding:10px;   
}

.graph-wrapper h2{
    text-align: center;
    font-size: 1.5rem;
    margin: 20px auto;
}


.graph,.graph-timings{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.graph div{
    height: 50px;
    border: 1px solid black;
    padding: 10px 10px;
    background-color: skyblue;
    font-weight: bold;
    flex: 1;
}

.graph-timings div{
    flex:1;
}

.display-graph{
    background-color: #dc3545;
    color:#ffffff;
    width: 200px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    padding: 10px 5px;
}