body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body .filters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 200px;
}

body .filters *{
    margin: .5rem;
    height: 30px;
   
}

body .filters label{
    font-weight: bold;
}

body .filters label #search-bar{
    width: 300px;
    /* padding: 12px 20px; */
    margin: 8px 0;
    box-sizing: border-box;
}


.showcase{
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-image: url('../images/sprinklr.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.2;
  z-index: -1;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #107EFF;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table thead tr td , .styled-table tbody tr td{
  max-width: 500px;
  word-break: break-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}


.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #107EFF;
}




